[Unit]
Description=Momo's distributed currency daemon
After=network.target

[Service]
User=momocore
Group=momocore

Type=forking
PIDFile=/var/lib/momod/momod.pid
ExecStart=/usr/bin/momod -daemon -pid=/var/lib/momod/momod.pid \
-conf=/etc/momocore/momo.conf -datadir=/var/lib/momod -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
